In [37]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [38]:
file_path = r"C:\Users\comat\GitProjects\customer-churn-ai\data\2SQL-Telco-Customer-Churn.csv"

# Ensure the file exists and load the data; # Troubleshoot: encoding
try:
    df = pd.read_csv(file_path) #, encoding='latin1')
    print("Data loaded successfully.")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

Data loaded successfully.

In [39]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [40]:
# Some columns may have whitespace or inconsistent values
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [41]:
# Convert 'TotalCharges' to numeric, forcing errors to NaN
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

Load into PostgreSQL

In [43]:
from urllib.parse import quote_plus # password has special characters

password = quote_plus("maverick$1816$") 
conn_str = f"postgresql+psycopg2://postgres:{password}@localhost:5432/churn-ai" # Defne connection string
engine = create_engine(conn_str) # Create a connection to the database

# Load data
df.to_sql("telco_churn", engine, if_exists='replace', index=False)

43

#### Stop and Go to SQL, Unless you want to
### Run SQL Queries from Python

In [ ]:
# try:
#     # Connect using raw password
#     conn = psycopg2.connect(
#         dbname="churn-ai",
#         user="postgres",
#         password="maverick$1816$",  # Use raw string directly
#         host="localhost",
#         port="5432"
#     )
#     cur = conn.cursor()

#     # Churn rate overall
#     cur.execute('SELECT "Churn", COUNT(*) FROM telco_churn GROUP BY "Churn";')
#     # cur.execute('SELECT telco_churn."Churn", COUNT(*) FROM telco_churn GROUP BY telco_churn."Churn";')
#     print("Churn Counts:", cur.fetchall())

#     # Churn by contract type
#     cur.execute("""
#         SELECT "Contract", "Churn", COUNT(*) 
#         FROM telco_churn 
#         GROUP BY "Contract", "Churn" 
#         ORDER BY "Contract", "Churn";
#     """)
#     print("Churn by Contract:", cur.fetchall())

#     cur.close()
#     conn.close()

# except psycopg2.OperationalError as e:
#     print("Connection failed:", e)

Churn Counts: [('No', 5174), ('Yes', 1869)]
Churn by Contract: [('Month-to-month', 'No', 2220), ('Month-to-month', 'Yes', 1655), ('One year', 'No', 1307), ('One year', 'Yes', 166), ('Two year', 'No', 1647), ('Two year', 'Yes', 48)]