In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
file_path = r"C:\Users\comat\GitProjects\customer-churn-ai\data\Raw-Telco-Customer-Churn-w-Review.csv"
folder_path = r"C:\Users\comat\GitProjects\customer-churn-ai\data"
# Ensure the file exists and load the data; # Troubleshoot: encoding
try:
    df = pd.read_csv(file_path) #, encoding='latin1')
    print("Data loaded successfully.")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

Data loaded successfully.

Inspection / Validation

In [3]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,customer_review
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Really happy with my plan... no unexpected fee...
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,Really happy with my plan... phone support was...
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,"Unfortunately, my service was... frustrated by..."

---
#### **Clean the Data Frame**

In [4]:
# --- Rename Column ---
if 'customer_review' in df.columns:
    df = df.rename(columns={'customer_review': 'CustomerReview'})
    print("Column 'customer_review' successfully renamed to 'CustomerReview'.")

    # --- Verify the change ---
    print("Updated columns:", df.columns.tolist())
    # print(df.head()) # Uncomment to see the first few rows with the new header
else:
    print("Error: Column 'customer_review' not found in the DataFrame. Please check the column name exists and verify the correct data is loaded.")

Column 'customer_review' successfully renamed to 'CustomerReview'.
Updated columns: ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'CustomerReview']

In [5]:
# Some columns may have whitespace or inconsistent values
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [6]:
# Convert 'TotalCharges' to numeric, forcing errors to NaN
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  CustomerReview    7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

---
**Load into PostgreSQL**

In [8]:
from urllib.parse import quote_plus # password has special characters

password = quote_plus("maverick$1816$") 
conn_str = f"postgresql+psycopg2://postgres:{password}@localhost:5432/churn-ai" # Defne connection string

# Create a SQLAlchemy engine object using the constructed connection string.
# This engine object will be used to interact with the PostgreSQL database.
engine = create_engine(conn_str) # Create a connection to the database

In [9]:
from sqlalchemy.types import Integer, String, Float, Numeric

dtype_mapping = {
    'customerID': String(),
    'gender': String(),
    'SeniorCitizen': Integer(),
    'Partner': String(),
    'Dependents': String(),
    'tenure': Integer(),
    'PhoneService': String(),
    'MultipleLines': String(),
    'InternetService': String(),
    'OnlineSecurity': String(),
    'OnlineBackup': String(),
    'DeviceProtection': String(),
    'TechSupport': String(),
    'StreamingTV': String(),
    'StreamingMovies': String(),
    'Contract': String(),
    'PaperlessBilling': String(),
    'PaymentMethod': String(),
    'MonthlyCharges': Numeric(10,2),      # ðŸ‘ˆ This avoids double precision
    'TotalCharges': Numeric(10,2),
    'Churn': String(),
    'CustomerReview': String()
}

In [10]:
# Load data
df.to_sql("telco_churn", engine, if_exists='replace', index=False, dtype=dtype_mapping)

43

---
**Continued Cleaning after SQL Analysis**

In [11]:
# Standardize Columns that should be binary with Yes/No
binary_cols = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
for col in binary_cols:
    df[col] = df[col].str.strip().str.capitalize().replace({'No phone service': 'No', 'No internet service': 'No'})

# Normalize multi-category columns
multi_cols = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
              'TechSupport', 'StreamingTV', 'StreamingMovies']

for col in multi_cols:
    df[col] = df[col].str.strip().str.replace('No internet service', 'No').str.capitalize()

# Confirm changes
df[multi_cols + binary_cols].drop_duplicates().sort_values(by=multi_cols + binary_cols).head()

,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Partner,Dependents,PhoneService,PaperlessBilling,Churn
11,No,No,No,No,No,No,No,No,No,Yes,No,No
22,No,No,No,No,No,No,No,No,No,Yes,No,Yes
162,No,No,No,No,No,No,No,No,No,Yes,Yes,No
4,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes
199,No,No,No,No,No,No,No,No,Yes,Yes,No,No

---
### Stop and Go to SQL, Unless you want to
### Run SQL Queries from Python

In [12]:
# try:
#     # Connect using raw password
#     conn = psycopg2.connect(
#         dbname="churn-ai",
#         user="postgres",
#         password="maverick$1816$",  # Use raw string directly
#         host="localhost",
#         port="5432"
#     )
#     cur = conn.cursor()

#     # Churn rate overall
#     cur.execute('SELECT "Churn", COUNT(*) FROM telco_churn GROUP BY "Churn";')
#     # cur.execute('SELECT telco_churn."Churn", COUNT(*) FROM telco_churn GROUP BY telco_churn."Churn";')
#     print("Churn Counts:", cur.fetchall())

#     # Churn by contract type
#     cur.execute("""
#         SELECT "Contract", "Churn", COUNT(*) 
#         FROM telco_churn 
#         GROUP BY "Contract", "Churn" 
#         ORDER BY "Contract", "Churn";
#     """)
#     print("Churn by Contract:", cur.fetchall())

#     cur.close()
#     conn.close()

# except psycopg2.OperationalError as e:
#     print("Connection failed:", e)

---
#### Save Cleaned CSV + Reload to PostgreSQL

In [13]:
df.to_csv(r'C:\Users\comat\GitProjects\customer-churn-ai\data\cleaned_telco_churn.csv', index=False)

#### Reload CSV to PostgreSQL (with dtype mapping)

In [14]:
# 1. Read CSV
df_clean = pd.read_csv(r"C:\Users\comat\GitProjects\customer-churn-ai\data\cleaned_telco_churn.csv")

# 2. Define dtypes
dtype_mapping = {
    'customerID': String(),
    'gender': String(),
    'SeniorCitizen': Integer(),
    'Partner': String(),
    'Dependents': String(),
    'tenure': Integer(),
    'PhoneService': String(),
    'MultipleLines': String(),
    'InternetService': String(),
    'OnlineSecurity': String(),
    'OnlineBackup': String(),
    'DeviceProtection': String(),
    'TechSupport': String(),
    'StreamingTV': String(),
    'StreamingMovies': String(),
    'Contract': String(),
    'PaperlessBilling': String(),
    'PaymentMethod': String(),
    'MonthlyCharges': Numeric(10,2),      # ðŸ‘ˆ This avoids double precision
    'TotalCharges': Numeric(10,2),
    'Churn': String()
}

# 3. Upload
df_clean.to_sql(
    name='telco_churn_clean',
    con=engine,
    if_exists='replace',
    index=False,
    dtype=dtype_mapping
)

43